.navbar
    width: 100%
    background: #FFFFFF
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.01), 0px 4px 8px rgba(0, 0, 0, 0.02), 0px 1px 12px rgba(0, 0, 0, 0.12)
    border-radius: 0px 0px 8px 8px
    padding: 16px 0 16px 20px
    position: relative
    &__title
        font-weight: 600
        font-size: 20px
        line-height: 28px
        letter-spacing: 0.15px
        text-align: left
        margin-left: 53px
    &__hamburger
        position: absolute
        top: 22px


    